.footer {
  max-width: 1440px;
  height: 396px;
  margin: 0 auto;

  &__top {
    max-height: 300px;
    padding: 102px 165px;

    display: flex;
    align-items: center;

    background-color: #495567;
  }

  &__appstore {
    margin-right: 18px;
  }

  &__title {
    width: 415px;
    margin-right: 336px;

    font-family: "spaceMono-Bold";
    font-size: 48px;
    line-height: 48px;

    letter-spacing: -2.14286px;

    color: #ffffff;
  }

  &__bottom {
    max-height: 96px;
    padding: 35px 165px 32px 168px;
    background-color: #333a44;

    display: flex;
    align-items: center;
    gap: 571px;
  }
  &__nav {
    display: flex;
    align-items: center;
    gap: 58px;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  &__item a {
    font-family: "spaceMono-Bold";
    font-size: 15px;
    line-height: 25px;

    color: #939caa;
  }

  &__item a:hover {
    color: #fcb72b;
    cursor: pointer;
  }

  &__icons {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &__svg path:hover {
    fill: #e5ecf4;
    cursor: pointer;
  }
}
